<div class="information">
  Quote price from single image.
  <br>
  press mouse left button and drag over image

  <div class="actions">
    <button class="btn" (click)="showAll()">{{ !isEditing ? 'enable edit mode':'enable view mode'}}</button>
  </div>
</div>
<hr>
<br>
<!-- dragable element -->
<div class="container">
  <div class="draggable-container" [appDrawRectangle]="'assets/sample_img_2.jpg'" #cropper>
    <img src="assets/sample_img_2.jpg">
  </div>

  <div class="clips">
    <div class="btn">
      <button class="crop" (click)="crop()">Crop Selected</button>
    </div>
    <ng-container *ngIf="selectedIndex>=0">
     <div class="">
      <input type="number" placeholder="enter price" [formControl]="priceControl">&nbsp;<span (click)="addPrice()">ADD PRICE</span>
     </div>
    </ng-container>
    <div class="img-container" *ngFor="let image of imageList;let i = index;">
      <img [src]="image.img" alt=""  (click)="showOnMainImage(image,i)"
        [class.active]="selectedIndex==i">
        <div>{{image.price}}</div>
    </div>

  </div>
</div>